body {
font-family: "Boogaloo";
}

.header{
background-color:#3c3c3c;
color:#ffffff;
height:100px;
}
.header-logo{
float:left;
font-size:52px;
padding:20px 40px;
}
.header-logo span{
color:#DAA520
}
.header-list{
font-size:14px;
float:right;
padding:0px 40px;
}

.main{
padding: 40px 80px;            
background-image: url(https://user-images.githubusercontent.com/71677284/94498298-fdcb4480-0223-11eb-85da-c0b5e70bf19a.png);            
background-size: cover;            
color: #000000;            
text-align: center;      
height:480px;
}

.footer{
background-color:#3c3c3c;
color:#ffffff;
height:40px;
padding-top:20px;
}
